.header{
    display:flex;
    align-items: center;
    justify-content: center;
}

.login, .signup{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.container {
background: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
width: 300px;
text-align: center;
}

.logout{
    display:flex;
    justify-content: center;
}

h2 {
margin-bottom: 20px;
}

input {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 5px;
}

button {
padding: 10px;
background-color: #28a745;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #218838;
}

.link {
margin-top: 10px;
display: block;
color: blue;
text-decoration: none;
}

.link:hover {
text-decoration: underline;
}
